/*  your css code here. If applicable */
#outer{
	height:300px;
	width:300px;
	border-radius:50%;
	background-color:rgb(255, 165, 0);
	display:flex;
	justify-content:center;
	align-items:center;
}
#middle{
    display:flex;
	justify-content:center;
	align-items:center;
	height:200px;
	width:200px;
	border-radius:50%;
	background-color:rgb(0, 128, 0);
}
#inner{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100px;
	width:100px;
	background-color:rgb(128, 0, 128);
	border-radius:50%;
}
