/*  your css code here. If applicable */
#outer{
	height:300px;
	width:300px;
	border-radius:50%;
	background-color:#ff0000;
	display:flex;
	justify-content:center;
	align-items:center;
}
#middle{
    display:flex;
	justify-content:center;
	align-items:center;
	height:200px;
	width:200px;
	border-radius:50%;
	background-color:#ffa500;
}
#inner{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100px;
	width:100px;
	background-color:#ffff00;
	border-radius:50%;
}
